<section class="section-tight tiles-wrap">
  <div class="wrap">
    <div class="sec-head"><div><p class="eyebrow">From the original Forbes Factor</p><h2>Explore by category</h2></div></div>
    <div class="tiles">
      <a class="tile" href="journal.html#cat-what-s-new"><img src="img/tiles/whats-new.png" alt="What's New?" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="about.html"><img src="img/tiles/meet-forbes.png" alt="Meet Forbes" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="health.html"><img src="img/tiles/healthy-living.png" alt="Healthy Living" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="business.html"><img src="img/tiles/business.png" alt="Business" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="journal.html#cat-daily-inspiration"><img src="img/tiles/daily-inspiration.png" alt="Daily Inspiration" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="health.html#recipes"><img src="img/tiles/recipes.png" alt="Recipes" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="journal.html#cat-innovations"><img src="img/tiles/innovations.png" alt="Innovations" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="journal.html#cat-forbes-living-tv"><img src="img/tiles/forbes-living-tv.png" alt="Forbes Living TV" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="spingym.html"><img src="img/tiles/spingym.png" alt="SpinGym" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="journal.html#cat-giving-back"><img src="img/tiles/giving-back.png" alt="Giving Back" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="journal.html#cat-travel"><img src="img/tiles/travel.png" alt="Travel" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="journal.html#cat-my-life-in-video"><img src="img/tiles/videos.png" alt="Videos" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="work-with-forbes.html"><img src="img/tiles/sponsors.png" alt="Forbes' Sponsors" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="press.html"><img src="img/tiles/media-kit.png" alt="Media Kit" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="press.html#press"><img src="img/tiles/press.png" alt="Press" width="184" height="285" loading="lazy"></a>
      <a class="tile" href="journal.html#cat-favorite-books"><img src="img/tiles/favorite-books.png" alt="Favorite Books" width="184" height="285" loading="lazy"></a>
    </div>
  </div>
</section>
